#page-header #site-title {
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

#subtitle {
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

.typed-cursor {
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

.copyright {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

.framework-info{
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

.footer_custom_text {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

/* 公告栏改色 */

/* 修改公告栏背景色并把文字变白 */
#aside-content .card-announcement {
    background-color: #49B1F5 !important;
    color: var(--white) !important;
    border: none !important; /* 去除可能存在的边框 */
}

/* 强制公告栏标题和内部图标变白 */
#aside-content .card-announcement .item-headline i,
#aside-content .card-announcement .item-headline span {
    color: var(--white) !important;
}

/* 适配夜间模式 */
[data-theme="dark"] #aside-content .card-announcement {
    background-color: rgba(73, 177, 245, 0.8) !important;
}