#post-info
  #site-title= config.title
  if theme.subtitle.enable
    #site-subtitle
      span#subtitle
    //- 修正：直接调用写好的打字机逻辑文件，而不是只挂载一个空壳
    !=partial('includes/third-party/subtitle', {}, {cache: true})
