#aside-content.aside-content
  //- 强制公告栏第一
  if theme.aside.card_announcement && theme.aside.card_announcement.enable
    !=partial('includes/widget/card_announcement', {}, {cache: true})
  
  if globalPageType === 'post'
    - const tocStyle = page.toc_style_simple
    - const tocStyleVal = tocStyle === true || tocStyle === false ? tocStyle : theme.toc.style_simple
    if showToc && tocStyleVal
      .sticky_layout
        include ./card_post_toc.pug
    else 
      //- 插入集成卡片
      !=partial('includes/widget/card_integrated', {}, {cache: true})
      !=partial('includes/widget/card_top_self', {}, {cache: true})
      .sticky_layout
        if showToc
          include ./card_post_toc.pug
        !=partial('includes/widget/card_recent_post', {}, {cache: true})
        !=partial('includes/widget/card_ad', {}, {cache: true})
  else
    .sticky_layout
      //- 插入集成卡片，并将首页集成卡片移入粘性布局内部
      !=partial('includes/widget/card_integrated', {}, {cache: true})
      !=partial('includes/widget/card_top_self', {}, {cache: true})
      if showToc
        include ./card_post_toc.pug
      !=partial('includes/widget/card_recent_post', {}, {cache: true})
      !=partial('includes/widget/card_ad', {}, {cache: true})
      !=partial('includes/widget/card_newest_comment', {}, {cache: true})
      !=partial('includes/widget/card_webinfo', {}, {cache: true})
      !=partial('includes/widget/card_bottom_self', {}, {cache: true})
      //- 原有的 categories, tags, archives 已被删除，避免下方重复出现